.game-field {
  max-width: 50rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__number {
    color: $second-color;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: darken($second-color, 20%);
    &:hover {
      cursor: pointer;
      background-color: darken($second-color, 25%);
    }
  }
}

@media(max-width: $breakpoint-table) {
  .game-field{
    &__number {
      width: 8rem;
      height: 8rem;
    }
  }
}

@media(max-width: $breakpoint-mobile-sm) {
  .game-field{
    &__number {
      width: 6rem;
      height: 6rem;
    }
  }
}

@media(max-width: $breakpoint-mobile-xs) {
  .game-field{
    &__number {
      width: 5rem;
      height: 5rem;
    }
  }
}
